<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Alert</title>
</head>
<center><body>
    <div class="alert alert-success" role="alert">
  <center><h4 class="alert-heading">JOB ADDED SUCCESSFULLY!</h4></center>
 
  <hr>
  <center><button value="add" class="btn btn-primary btn-sm" type="submit"> <a href="/showjobs">DONE</a>DONE</button></center><br><br>
  <center><button value="add" class="btn btn-primary btn-sm" type="submit"> <a href="/mid">DONE</a>BACK</button></center>

</div>
    
</body></center>
</html>
